.gif{
    width:70%;
}
.homeVideo {
    width: 100%;
    height: 32rem;
}
.toogleBtn {
    position: fixed;
    top:3rem;
    right: 1rem;
    text-align: center;
    z-index: 1030;
}
.toogleNav {
    position: fixed;
    top: 6rem;
    bottom: 8rem;
    right: 1rem;
    text-align: center;
    z-index: 1030;
    min-width: 10rem;
}
.mainImgHeight{
    height:35rem;
}
.mainImgWidth {
    height: 80rem;
}
@media (max-width:575px) {
    .homeBack {
    }
    .col-hide {
        display: none;
    }
    .toogleBtn {
        
    }
    .mainImgHeight {
        height: 17rem;
    }
    .mainImgWidth {
        height: 40rem;
    }
    .gif {
        width: 100%;
    }
    .homeVideo {
        height: 15rem;
    }
}
/*lanscape*/
@media (min-width: 576px) and (max-width:766px) {
    .homeBack {
        height: 100vh;
    }
    .col-hide {
        display: none;
    }
    .toogleBtn {
    }
    .mainImgHeight {
        height: 28rem;
    }
    .mainImgWidth {
        height: 70rem;
    }
    .gif {
        width: 100%;
    }
    .homeVideo {
        height: 23rem;
    }
}
/*tables*/
@media (min-width: 768px) and (max-width:991px) {
    .homeBack {
        height: 100vh;
    }
    .col-hide {
        display: none;
    }
    .toogleBtn {
    }
    .mainImgHeight {
        height: 30rem;
    }
    .mainImgWidth {
        height: 70rem;
    }
    .gif {
        width: 100%;
    }
    .homeVideo {
        height: 23rem;
    }
}

/*desktop*/
@media (min-width: 992px) and (max-width:1199px) {
    .homeBack {
        height: 100vh;
    }
    .col-hide {
        display: none;
    }
    .toogleBtn {
    }
    .mainImgHeight {
        height: 30rem;
    }
    .gif {
        width: 100%;
    }
    .homeVideo {
        height: 25rem;
    }
}

/*large desktop*/
@media (min-width: 1200px) and (max-width:1399px) {
    .homeBack {
        height: 100vh;
    }
    .toogleBtn {
        display: none;
    }
    .mainImgHeight {
        height: 28rem;
    }
    .toogleNav {
        display: none !important;
    }
}

/*xlarge desktop*/
@media (min-width: 1400px) {
    .homeBack {
        height: 100vh;
    }
    .toogleBtn {
        display: none;
    }
    .mainImgHeight {
        height: 28rem;
    }
    .toogleNav {
        display: none !important;
    }
}

.shortcut {
    width: 25px;
    height: 25px;
}

.df {
    color: #E7B10A !important
}

.homeMainText{
    width:95%;
}

.leftNav {
    background-color: #212529;
    color: #ffffff;
}

.leftNavListItem {
    background-color: #212529;
    color: #ffffff;
}

    .leftNavListItem:hover {
        background-color: #212529;
        color: #E7B10A !important;
    }

.activeATag {
    background-color: #212529 !important;
    color: #E7B10A !important;
}

.leftNavBaseTitle {
    color: #dddddd;
}

.leftNavSubTitle {
    color: #bebebe;
}

.jumbotron {
    background-image: url(/img/homebg.png);
    background-size: cover;
    background-position: 50% 30%;
}



.vl {
    border-left: 1px solid #bebebe;
}

.dropdown-menu {
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
}


.jsonLine {
    color: aqua;
}

    .jsonLine .jsonPlain {
        color: black;
    }

    .jsonLine .parantez {
        color: orange;
    }

    .jsonLine .bosluk {
        color: gray;
    }

    .jsonLine .jsonOperator {
        color: red;
    }

    .jsonLine .value {
        color: blue;
    }

    .jsonLine .key {
        color: gray;
    }