@model TitleListViewModel
@{
    ViewBag.HtmlUrl = "wwwroot/files/api/html/";
}

<body>
    <div class="row ms-2 me-2">



        <div class="col-lg-12 col-xl-2 col-hide leftToggleNav">
            <div class="sticky-top">
                @await Html.PartialAsync("_HomeTitle",Model)

            </div>


        </div>

        <div class="col-lg-12 col-xl-8">
            <div>
                @await Html.PartialAsync("_ApiMain",Model)
            </div>
        </div>
        <div class="col-lg-12 col-xl-2 col-hide">
            <div class="sticky-top">
                @await Html.PartialAsync("_HomeRight",Model)

            </div>
        </div>



    </div>

    <button type="button" id="toogleBtn" class="btn btn-light toogleBtn"><img src="~/img/menu.png" style="height:1.5rem;width:1.5rem;" alt="" /></button>
    <div id="toogleNav" class="toogleNav dropdown-menu">
    </div>

</body>


<script type="module" src="~/js/api.js" asp-append-version="true"></script>